<nb-card>
    <nb-card-header>Dettagli cittadino</nb-card-header>
    <nb-card-body [(ngModel)]="citizen">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="inputFirstName" class="label">Nome</label>
                    <input #firstname type="text" disabled nbInput fullWidth id="inputFirstName"
                        placeholder="First Name" value={{citizen.nome}}>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="inputLastName" class="label">Cognome</label>
                    <input #lastname type="text" disabled nbInput fullWidth id="inputLastName" placeholder="Last Name"
                        value={{citizen.cognome}}>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="inputEmail" class="label">Email</label>
                    <input #email type="email" disabled nbInput fullWidth id="inputEmail" placeholder="Email"
                        value={{citizen.email}}>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="inputWebsite" class="label">Cellulare</label>
                    <input #cellphone type="text" disabled nbInput fullWidth id="inputWebsite" placeholder="Website"
                        value={{citizen.telefono}}>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="inputEmail" class="label">Indirizzo</label>
                    <input #indirizzo disabled type="email" nbInput fullWidth placeholder="Indirizzo"
                        value="via {{citizen.via}} {{citizen.civico}}, {{citizen.comune}}">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="inputWebsite" class="label">Codice fiscale</label>
                    <input #SSN type="text" disabled nbInput fullWidth id="inputSSN" placeholder="Codice fiscale"
                        value={{citizen.ssn}}>
                </div>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <button class="cancel" nbButton status="danger" (click)="cancel()">Indietro</button>
        <button nbButton status="success" disabled
            (click)="submit(firstname.value, lastname.value, email.value, cellphone.value)">Salva</button>
    </nb-card-footer>
</nb-card>