<div class="row">
    <div class="col-xxl-5">
      <div class="row">
        <div class="col-md-6">
          <nb-card>
            <nb-card-header>

            </nb-card-header>
            <nb-card-body>

            </nb-card-body>
            <nb-card-footer>

            </nb-card-footer>
          </nb-card>
        </div>
        <div class="col-md-6">
          <nb-card>
            <nb-card-header>

            </nb-card-header>
            <nb-card-body>

            </nb-card-body>
            <nb-card-footer>
              
            </nb-card-footer>
          </nb-card>
        </div>
      </div>
      <nb-card>
        <nb-card-header>

        </nb-card-header>
        <nb-card-body>

        </nb-card-body>
        <nb-card-footer>
          
        </nb-card-footer>
      </nb-card>
    </div>
  
    <div class="col-xxl-7">
      <nb-card>
        <nb-card-header>
          Ordini
        </nb-card-header>
        <nb-card-body>
      
          <nb-tabset>
            <nb-tab tabTitle="Lista"
                    badgeText="99+"
                    badgeStatus="danger">
              <p>List of <strong>users</strong>.</p>
            </nb-tab>
            <nb-tab tabTitle="Grafico 1">
              <p>List of <strong>orders</strong>.</p>
            </nb-tab>
            <nb-tab tabTitle="Transazioni"
                    badgeText="new"
                    badgePosition="top right"
                    badgeStatus="success">
              <p>List of <strong>transactions</strong>.</p>
            </nb-tab>
            <nb-tab tabTitle="Notifiche"
                    badgeText="new"
                    badgePosition="top right"
                    badgeStatus="success">
              <p>List of <strong>notifications</strong>.</p>
            </nb-tab>
          </nb-tabset>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xxl-9">
      <nb-card>
        <nb-card-header>

        </nb-card-header>
        <nb-card-body>

        </nb-card-body>
        <nb-card-footer>
          
        </nb-card-footer>
      </nb-card>    </div>
  
    <div class="col-xxl-3">
      <nb-card>
        <nb-card-header>

        </nb-card-header>
        <nb-card-body>

        </nb-card-body>
        <nb-card-footer>
          
        </nb-card-footer>
      </nb-card>    </div>
  </div>
  
  <div class="row">
    <div class="col-xxl-9">
      <nb-card>
        <nb-card-header>

        </nb-card-header>
        <nb-card-body>

        </nb-card-body>
        <nb-card-footer>
          
        </nb-card-footer>
      </nb-card>    </div>
  
    <div class="col-xxl-3">
      <nb-card>
        <nb-card-header>

        </nb-card-header>
        <nb-card-body>

        </nb-card-body>
        <nb-card-footer>
          
        </nb-card-footer>
      </nb-card>    </div>
  </div>