<div class="row">
    <div class="col-md-12">
        <nb-card class="inline-form-card">
            <nb-card-header>Inline form</nb-card-header>
            <nb-card-body>
                <form>
                    <div class="form-group row">
                        <label for="inputEmail1" class="label col-sm-3 col-form-label">Nome</label>
                        <div class="col-sm-9">
                            <input #name type="string" nbInput fullWidth id="name" placeholder="Nome">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail1" class="label col-sm-3 col-form-label">Cognome</label>
                        <div class="col-sm-9">
                            <input #surname type="string" nbInput fullWidth id="surname" placeholder="Cognome">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword2" class="label col-sm-3 col-form-label">Ragione Sociale</label>
                        <div class="col-sm-9">
                            <input #businessName type="string" nbInput fullWidth id="businessName" placeholder="Ragione Sociale">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword2" class="label col-sm-3 col-form-label">Partita IVA</label>
                        <div class="col-sm-9">
                            <input #vatNumber type="string" nbInput fullWidth id="vatNumber" placeholder="Partita IVA">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail1" class="label col-sm-3 col-form-label">Nazione</label>
                        <div class="col-sm-9">
                            <input #country type="string" nbInput fullWidth id="country" placeholder="Nazione">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword2" class="label col-sm-3 col-form-label">Città</label>
                        <div class="col-sm-9">
                            <input #city type="string" nbInput fullWidth id="city" placeholder="Città">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail1" class="label col-sm-3 col-form-label">Comune</label>
                        <div class="col-sm-9">
                            <input #municipality type="string" nbInput fullWidth id="municipality" placeholder="Comune">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword2" class="label col-sm-3 col-form-label">Via/Piazza</label>
                        <div class="col-sm-9">
                            <input #street type="string" nbInput fullWidth id="street" placeholder="Via/Piazza">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword2" class="label col-sm-3 col-form-label">CAP</label>
                        <div class="col-sm-9">
                            <input #cap type="string" nbInput fullWidth id="cap" placeholder="CAP">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail1" class="label col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9">
                            <input #email type="email" nbInput fullWidth id="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword2" class="label col-sm-3 col-form-label">Telefono</label>
                        <div class="col-sm-9">
                            <input #phoneNumber type="string" nbInput fullWidth id="phoneNumber" placeholder="Telefono">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-sm-3 col-sm-9">
                            <button type="submit" nbButton status="primary" 
                            [value]="action" (click)="perform(name.value, surname.value, businessName.value, vatNumber.value,
                            country.value, city.value, municipality.value, street.value, cap.value, email.value, phoneNumber.value)">{{action}}</button>
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>