<nb-card>
    <nb-card-header>Dettagli prestazione</nb-card-header>
    <nb-card-body [(ngModel)]="medicalservice">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="inputFirstName" class="label">Prestazione</label>
                    <input #nome type="text" nbInput fullWidth id="inputFirstName" placeholder="First Name"
                        value={{medicalservice.nome}}>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="inputLastName" class="label">Costo</label>
                    <input #costo disabled type="text" nbInput fullWidth id="inputLastName" placeholder="Last Name"
                        value={{medicalservice.costo}}>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="inputEmail" class="label">Quantità</label>
                    <input #giacenza disabled type="email" nbInput fullWidth id="inputEmail" placeholder="Email"
                        value={{medicalservice.giacenza}}>
                </div>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <button class="cancel" nbButton status="danger" (click)="cancel()">Indietro</button>
        <button nbButton status="success" (click)="submit(nome.value)">Salva</button>
    </nb-card-footer>
</nb-card>